@model IEnumerable<ZPCMVC.Models.Poetry>
    <br />
    <div class="btn-group btn-group-lg">
        <button type="button" class="btn btn-default">@Html.ActionLink("杭州", "Index", new { location = "杭州" })</button>
        <button type="button" class="btn btn-default">@Html.ActionLink("宁波", "Index", new { location = "宁波" })</button>
        <button type="button" class="btn btn-default">@Html.ActionLink("温州", "Index", new { location = "温州" })</button>
        <button type="button" class="btn btn-default">@Html.ActionLink("绍兴", "Index", new { location = "绍兴" })</button>
        <button type="button" class="btn btn-default">@Html.ActionLink("湖州", "Index", new { location = "湖州" })</button>
        <button type="button" class="btn btn-default">@Html.ActionLink("嘉兴", "Index", new { location = "嘉兴" })</button>
        <button type="button" class="btn btn-default">@Html.ActionLink("金华", "Index", new { location = "金华" })</button>
        <button type="button" class="btn btn-default">@Html.ActionLink("衢州", "Index", new { location = "衢州" })</button>
        <button type="button" class="btn btn-default">@Html.ActionLink("台州", "Index", new { location = "台州" })</button>
        <button type="button" class="btn btn-default">@Html.ActionLink("丽水", "Index", new { location = "丽水" })</button>
        <button type="button" class="btn btn-default">@Html.ActionLink("舟山", "Index", new { location = "舟山" })</button>
    </div>
<h2>@ViewBag.Title</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dynasty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Poet)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dynasty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poet)
            </td>
            <td>
                @{
                    if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("编辑|", "Edit", new { id = item.Id })
                        @Html.ActionLink("删除", "Delete", new { id = item.Id })
                    }
                }
            </td>
        </tr>
                    }
</table>
@{
    if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Admin"))
    {
        <p>
            <button type="button" class="btn">@Html.ActionLink("添加", "Create")</button>
</p>
    }
}
