<!DOCTYPE html>
<style>
    body {
        background-image: url(../../images/bg.jpg);
        background-repeat:no-repeat;
        background-size:100%;
    }
    li:hover .dropdown-menu {
        opacity:0.9;
    display:block;}
</style>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 浙江诗词大会</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("浙江诗词大会", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("首页", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="@Url.Action("Index", "Poetries")" class="dropdown-toggle">
                            诗词
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("杭州", "Index", "Poetries", new { location = "杭州" }, "")</li>
                            <li>@Html.ActionLink("宁波", "Index", "Poetries", new { location = "宁波" }, "")</li>
                            <li>@Html.ActionLink("温州", "Index", "Poetries", new { location = "温州" }, "")</li>
                            <li>@Html.ActionLink("绍兴", "Index", "Poetries", new { location = "绍兴" }, "")</li>
                            <li>@Html.ActionLink("湖州", "Index", "Poetries", new { location = "湖州" }, "")</li>
                            <li>@Html.ActionLink("嘉兴", "Index", "Poetries", new { location = "嘉兴" }, "")</li>
                            <li>@Html.ActionLink("金华", "Index", "Poetries", new { location = "金华" }, "")</li>
                            <li>@Html.ActionLink("衢州", "Index", "Poetries", new { location = "衢州" }, "")</li>
                            <li>@Html.ActionLink("台州", "Index", "Poetries", new { location = "台州" }, "")</li>
                            <li>@Html.ActionLink("丽水", "Index", "Poetries", new { location = "丽水" }, "")</li>
                            <li>@Html.ActionLink("舟山", "Index", "Poetries", new { location = "舟山" }, "")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("音乐欣赏", "Music", "Poetries")</li>
                    <li>@Html.ActionLink("关于", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
                <form action="@Url.Action("Search","Poetries")" class="navbar-form navbar-right" method="get">
                    <div class="form-group">
                        <input class="form-control" id="search" name="search" placeholder="输入诗名诗句朝代作者..." type="text" />
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <a href="http://colazxk.xyz/">Cola</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
